body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
.orange{
    color: #fa4706;
}
p{
    font-size: 20px;
}
.link-button{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 40px;
    background-image:linear-gradient(orange, coral);
    border-radius: 5px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}