body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
.orange{
    color: #fa4706;
}
p{
    font-size: 20px;
}
.link-button{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 40px;
    background-image:linear-gradient(orange, coral);
    border-radius: 5px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    padding: 3%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 15px;
}
.exeperince{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.Full-Stack{
    text-align: justify;
    width: 40%;
    margin-left: 3%;
    padding: 3%;
    box-shadow: grey 10px 10px 50px;
    
}
#Full-Developer{
    border-left: 7px solid;
    border-image: linear-gradient(blue, red) ;
    border-image-slice: 1;
}
#Baby-Developer{
    border-left: 7px solid;
    border-image: linear-gradient(green, red) ;
    border-image-slice: 1;
}
h1{
    font-weight: bold;
}
h2{
    font-size: 40px;
}
footer{
    text-align: center;
}